@media(max-width:450px){
  /* ======== navbar start ======== */
body {
  width: 1050px;
}
.navbar .content{
  display: none;
} 
.label-click{
  display: block; 
}
#toggle:checked~.content{
  display: block;
}
.content ul li {
  display: flex;
  margin-left: 70px;
}
.content{
  padding:80px 0px 0px 20px;
}
/* ========= navbar end ========== */
/* ========= header start ========= */
.header {
  display: inline-block;
}
.content-a {
  padding: 10% 10% 0 5%;
}
.content-a .d {
  line-height: 40px;
}
.content-a button {
  margin-top: 20px;
} 
.content-b {
  margin: 10% 0% 10% 10%;
}
/*  =========== header end ========== */
/*  ========= About-me start ========= */
.about-me {
  display: inline-block;
}
.about-me-a {
  padding: 10% 0% 5% 10%;
}
.about-me-b {
  margin: 5% 10% 5% 5%;
}
.about-me-b .c {
  line-height: 35px;
}
.about-me-b button {
  margin-top: 10px;
} 
/*  ========= About-me end ========= */
/*  ========= My service start ========  */
.my-service {
  background-color: rgba(30, 37, 57, 0.973);
  height: auto;
}
.my-service p {
  margin:0px 0px 0px  20px;
  width: 220px;
}
.my-service-box {
  height: auto;
  display: inline-block;
  margin: 50px 0px 50px 320px;
}
.box span h1:hover{
    text-shadow: 0px 2px 5px rgb(6,240,248),
    2px 5px 40px rgb(6,240,248),
    2px 2px 40px rgb(6,240,248),
    2px 2px 40px rgb(6,240,248);
}
/*  ======== My service end ========  */
/*  ========= my skills ========= -->*/
 .my-skills{
  background-color: hsl(224, 16%, 27%);
  height: auto;
  padding: 50px 0px 100px 0px;
 }
.my-skills-box{
  display:inline-block;
}
.my-skills-a{
  padding: 10% 0% 0% 65%;
}
.my-skills-b{
  padding: 10% 0% 0% 65%;
}
/* ========= my skills end ========= --> */
/* ========== latest project start ======== */
.latest-project .latest-project-nam{
  padding:50px 0px 0px 400px;
  width: 650px;
}
.latest-project-main {
  padding-top: 150px;
}
.latest-project-main {
  height: 1600px;
}
/* ========== latest project end ========= */
/*  ========= contact me start ========== */
.contact-me{
  background-color: hsl(224, 16%, 27%);
  height: auto;
  padding-top: 50px;
 }
 .contact-me span{
  font-size: 40px;
  color: white;
}
.contact-me span b{
  color: aqua;
}
.contact-part {
  margin-top: 20px;
}
/*  ========= contact me end ========== */
}