@media (min-width: 451px) and (max-width: 750px) {
  /* ======== navbar start ======== */
  body {
    width: 1050px;
  }
  .navbar ul {
    display: none;
  }
  .label-click {
    display: block;
  }
  #toggle:checked ~ .content ul{
    display: block;
  }
  .content ul li {
    display: flex;
    font-size: 20px;
    margin-left: -700px;
  }
  .content{
    padding:30px 0px 0px 20px;
  }

 
  /* ========= navbar end ========== */
  /* ========= header start ========= */
  .header {
    display: inline-block;
  }
  .content-a {
    padding: 10% 10% 0% 5%;
  }
  .content-a .d {
    line-height: 40px;
  }
  .content-a button {
    margin-top: 20px;
  }
  .content-b {
    margin: 10% 0% 10% 10%;
  }
  /*  =========== header end ========== */
  /*  ========= About-me start ========= */
  .about-me {
    display: inline-block;
  }
  .about-me-a {
    padding: 10% 0% 5% 10%;
  }
  .about-me-b {
    margin: 5% 10% 5% 5%;
  }
  .about-me-b .c {
    line-height: 35px;
  }
  .about-me-b button {
    margin-top: 10px;
  }
  /*  ========= About-me end ========= */
  .my-service p {
    margin: 0px 0px 0px 30px;
  }
  .my-service-box {
    height: auto;
  }
  .box-container{
    margin-left:0%;
  }
  .box {
    margin: 150px 10px 100px 10px;
  }
  .box span h1:hover {
    text-shadow: 0px 2px 5px rgb(6, 240, 248), 
    2px 5px 40px rgb(6, 240, 248),
    2px 2px 40px rgb(6, 240, 248), 
    2px 2px 40px rgb(6, 240, 248);
  }
  /*  ========= My service end ========  */
  /*  ========= my skills ========= -->*/
  .my-skills {
    background-color: hsl(224, 16%, 27%);
    height: auto;
    padding: 50px 0px 100px 0px;
  }
  .my-skills-box {
    display: inline-block;
  }
  .my-skills-a {
    padding: 10% 0% 0% 65%;
  }
  .my-skills-b {
    padding: 10% 0% 0% 65%;
  }
  /* ========= my skills end ========= --> */
  /* ========== latest project start ======== */
  .latest-project .latest-project-nam{
    padding:4% 0% 0% 55%;
  }
  .latest-project-main {
    padding-top: 80px;
  }
  .latest-project-main {
    height: 1600px;
    padding-bottom: 200px;
  }
  /* ========== latest project end ========= */
  /*  ========= contact me start ========== */
  .contact-me {
    background-color: hsl(224, 16%, 27%);
    height: 700px;
    padding-top: 10px;
  }
  .contact-me span {
    font-size: 40px;
    color: white;
  }
  .contact-me span b {
    color: aqua;
  }
  /*  ========= contact me end ========== */
}